*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;

}

nav{
	display: inline-block;
	height: 70px ;
	width: 100%;
	padding: 1em;
	position: sticky;
	top: 0;
	opacity: 1;
	z-index: 5;
	background-color: white;
}



nav ul li{
	display: inline;
	padding:1rem;
	font-size: 1.5em;
}

.nav-logo{
float: left;
}

.right-nav{
	float: right;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*body*/
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);

}

.intro-description .title-2{
	
}

.container {
	color: white;
	min-height: 40vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: absolute;
	text-align: right;
	padding-left:45% ;
	padding-right: 7%;
	padding-top: 2%;
}

.front-bg{
	background-color: black ;
	opacity: 0.5;	
	
}

.title {
	font-family:'Zilla Slab', sans-serif ;
	font-size: 3rem;
}
.subtitle{
	font-size: 1rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	width: 130px;
	height: 50px;
	border-radius: 20px;
	font-size: 1em;
	padding: 1rem;
}

.intro{
	position: relative;
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;

}

.title-2 {
	font-family:'Zilla Slab', sans-serif ;
	font-size: 2rem;
	padding-top: 2em;
	padding-bottom: 2em;

}

/*footer*/

.pre-footer{
	background-color: #f7fbfb;
	padding-left: 7%;
    padding-right: 7%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 20px;
}


.book-button{
	margin-top:20px;
	color: white;
	background-color: #336589;
	width: 130px;
	height: 50px;
	border-radius: 20px;
	font-size: 1em;
	padding: 1rem;
}

footer{
	text-align: center;
}






















/*.nav-logo{
	margin-right: 30%;
}
nav ul li{
	display: inline;
	float: left;

}

.right-nav{
 	
}

.tuitt-button{
	background-color: #c2195b;
	border-radius: 5% ;
	color: white;
}
.front-bg{
	background-color: black;
	opacity: 10%;
}

.front-bg{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-color: black;
	opacity: 70%;
}


.title .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}
*/